@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-outfit: var(--font-outfit);

  --color-background: #020617;
  --color-surface: #0F172A;
  --color-primary: #7ED957;
  --color-border: rgba(255, 255, 255, 0.08);
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #94A3B8;

  --radius-2xl: 1rem;

  --spacing-8: 0.5rem;

  --animate-marquee: marquee 30s linear infinite;
  --animate-marquee2: marquee2 30s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@layer base {
  * {
    @apply border-border;
    margin: 0;
    padding: 0;
  }

  html {
    @apply font-outfit antialiased selection:bg-primary/30;
    scroll-behavior: auto !important;
    /* Managed by Lenis */
  }

  body {
    @apply bg-background text-text-primary text-base;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold tracking-tighter text-text-primary;
  }

  p {
    @apply text-text-secondary leading-relaxed;
  }
}

/* Lenis CSS */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

* {
  scroll-behavior: smooth;
}